.nav-pills li a:hover{
	background-color: forestgreen;
}

.sideBarItems{
	position: sticky;
	top: 40px;
	/*bottom: 0;*/
}

@media (min-width: 992px) {
  .col-lg-2-5 {
    flex-basis: 20%;
    max-width: 20%;
  }
}
.downBtnDiv{
	bottom: 0;
	position: sticky;
	height: 40px;
}
.sidebarMain{
	/*display: ;*/
}

.cardBody{
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-align: center;
}

.cards{
	display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 10px; /* Adjust the gap between the inner divs as needed */
}

.forestgreen{
	background-color: forestgreen;
	color: #fff;
}

.forestgreen:hover{
	
}
button.forestgreen:hover{
	background-color: #196719;
	color: #fff;
}
.active{
	background-color: #196719 !important;
	/*color: #fff;*/
}

td{
	vertical-align: middle;
}

a{
	text-decoration: none;
}
a > .card{
	display: flex !important;
	flex-direction: column !important;
	justify-content: space-between !important;
}
a > .card > .card-body{
	flex-grow: 1;
}
a > .card:hover{
	transform: scale(1.05);
}

